@import "partials/partials";

#header {
  position: fixed;
  z-index: 10;
  @include bp(false, $s-md) {
	  height: 64px;
    ::ng-deep .menu {
      &__container {
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
