@import "partials/partials";

#header {
  position: fixed;
  z-index: 10;
  @include bp(false, $s-md) {
	  height: 60px;
    ::ng-deep .menu {
      &__container {
        top: 60px;
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
