<form class="search" [class.search--active]="active" (submit)="onSubmit()">
  <div class="search__input">
    <input
      #$input
      type="text"
      name="s"
      [placeholder]="wordpress.translate('search')"
      class="px-2"
      [(ngModel)]="query"
      [attr.aria-hidden]="!active || null"
    />
  </div>
  <button
    [attr.aria-label]="wordpress.translate('search')"
    [type]="(active && query && query.length) ? 'submit' : 'button'"
    class="btn btn--transparent"
    [class.theme--menu-color]="!active"
    [class.theme--color]="active"
    (click)="(active && query && query.length) ? onSubmit() : btnClick()"
  >
    <i-feather name="search"></i-feather>
  </button>
</form>
