@import "partials/partials";

.logo img {
  width: 100%;
  height: auto;
  @include media-breakpoint-down(lg) {
    width: 120px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 200px;
  }
}
