<a [routerLink]="['/']" class="menu__home">
  <picture
    *ngIf="logos && (logos.mobile || logos.desktop)"
    class="logo"
  >
    <source
      *ngIf="logos.desktop"
      media="(min-width:768px)"
      [attr.srcset]="logos.desktop"
    />
    <source
      *ngIf="logos.mobile"
      media="(max-width:768px)"
      [attr.srcset]="logos.mobile"
    />
    <img [src]="logos.mobile || logos.desktop" [alt]="title.getTitle()" />
  </picture>
  <ng-container *ngIf="!logos.mobile && !logos.desktop">
    {{ title.getTitle() }}
  </ng-container>
</a>
