@import "partials/partials";

.menu {
  padding: $gutter 0;
  // padding-bottom: $gutter;
  position: relative;
  $self: &;

  @include bp($s-md) {
    // padding-left: $gutter;
    padding: 0 $gutter;
  }


  &--has-toggler {
    #{$self}__container {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      @include bp(false, $s-md) {
        transform: translateX(-100%);
        transition: transform $transition-default;
        &--toggled {
          transform: translateX(0%);
        }
      }
      @include bp($s-md) {
        position: relative;
        left: auto;
      }
    }
  }

  &__home {
    &__logo img {
      width: 100%;
      height: auto;
      @include bp(false, $s-md) {
        width: 120px;
      }
      @include bp($s-lg) {
        max-width: 200px;
      }
      /* @include bp($s-sm) {
        width: 240px;
        height: auto;
      }
      @include bp($s-md) {
        width: 180px;
      }
      @include bp($s-lg) {
        width: 120px;
      } */
    }
  }

  &__container {
    @include bp($s-md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__items {
    @include bp($s-md) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__item {
    margin: $gutter auto;
    @include bp($s-md) {
      margin: 0 $gutter;
    }
  }
}
