@import "partials/partials";

.menu {
  padding-top: $gutter;
  padding-bottom: $gutter;
  position: relative;
  $self: &;
  
  &__home {
    &__logo img {
      width: 120px;
      height: auto;
      @include bp($s-sm) {
        width: 240px;
        height: auto;
      }
    }
  }
  &--has-toggler {
    #{$self}__container {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      @include bp(false, $s-md) {
        transform: translateX(-100%);
        transition: transform $transition-default;
        &--toggled {
          transform: translateX(0%);
        }
      }
      @include bp($s-md) {
        position: relative;
        left: auto;
      }
    }
  }
}
