@import "partials/partials";

.menu {
  $self: &;

  &__items {
    @include bp($s-md) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__item {
    margin: $gutter auto;
    position: relative;
    @include bp(false, $s-md) {
      &__submenu {
        overflow: hidden;
        height: 0;
        transition: height $transition-default;
      }
      &__toggler {
        position: absolute;
        right: 0;
        top: 0;
        transition: transform $transition-default;
        &--toggled {
          transform: rotate(180deg);
        }
      }
    }
    @include bp($s-md) {
      margin: 0 $gutter;
      &__submenu {
        height: auto !important;
      }
    }
  }
}
