<nav
  class="menu row align-items-center ali justify-content-between"
  [class.menu--has-toggler]="toggler"
>
  <div class="col-3 d-lg-none">
    <button
      *ngIf="toggler"
      class="btn btn--transparent d-lg-none"
      (click)="menuToggled = !menuToggled"
    >
      <i-feather name="menu" class="theme--menu-color"></i-feather>
    </button>
  </div>
  <div
    class="col-6 col-lg-2 pl-lg-0 d-flex justify-content-center justify-content-lg-start"
  >
    <a *ngIf="showHome" [routerLink]="['/']" class="menu__home">
      <picture
        *ngIf="logos && (logos.mobile || logos.desktop)"
        class="menu__home__logo"
      >
        <source
          *ngIf="logos.desktop"
          media="(min-width:768px)"
          [attr.srcset]="logos.desktop"
        />
        <source
          *ngIf="logos.mobile"
          media="(max-width:768px)"
          [attr.srcset]="logos.mobile"
        />
        <img [src]="logos.mobile || logos.desktop" [alt]="title.getTitle()" />
      </picture>
      <ng-container *ngIf="!logos.mobile && !logos.desktop">
        {{ title.getTitle() }}
      </ng-container>
    </a>
  </div>
  <div
    class="menu__container theme--menu-bg theme--menu-color col-10 col-sm-5 col-lg-9"
    [class.menu__container--toggled]="menuToggled"
    [attr.aria-hidden]="!menuToggled || null"
  >
    <ul class="menu__items">
      <li
        *ngFor="let link of items"
        class="menu__item"
      >
        <app-menu-link [link]="link"></app-menu-link>
        <ul *ngIf="link.items" class="menu__submenu">
          <li *ngFor="let link_ of link.items" class="menu__item--subitem">
            <app-menu-link [link]="link_"></app-menu-link>
          </li>
        </ul>
      </li>
    </ul>
    <ng-content></ng-content>
  </div>
  <div class="col-3 col-lg-1 pr-lg-0 d-flex flex-row-reverse">
    <button *ngIf="search" class="btn btn--transparent">
      <i-feather name="search" class="theme--menu-color"></i-feather>
    </button>
  </div>
</nav>
