<nav
  class="menu row align-items-center justify-content-between"
  [class.menu--has-toggler]="toggler"
>
  <div class="col-3 d-lg-none">
    <button
      *ngIf="toggler"
      class="icon-menu d-lg-none"
      (click)="menuToggled = !menuToggled"
    ></button>
  </div>
  <div class="col-auto col-lg-4">
    <a *ngIf="showHome" [routerLink]="['/']" class="menu__home">
      <picture
        *ngIf="logos && (logos.mobile || logos.desktop)"
        class="menu__home__logo"
      >
        <source
          *ngIf="logos.desktop"
          media="(min-width:768px)"
          [attr.srcset]="logos.desktop"
        />
        <source
          *ngIf="logos.mobile"
          media="(max-width:768px)"
          [attr.srcset]="logos.mobile"
        />
        <img [src]="logos.mobile || logos.desktop" [alt]="title.getTitle()" />
      </picture>
      <ng-container *ngIf="!logos.mobile && !logos.desktop">
        {{ title.getTitle() }}
      </ng-container>
    </a>
  </div>
  <div
    class="menu__container theme--menu-bg theme--menu-color col col-sm-5 col-lg-auto"
    [class.menu__container--toggled]="menuToggled"
    [attr.aria-hidden]="!menuToggled"
  >
    <ul class="menu__items">
      <li *ngFor="let link of items" class="menu__item">
        <a
          *ngIf="link.urlRouter"
          class="menu__item__link theme--menu-color"
          [routerLink]="link.urlRouter"
          [target]="link.target"
          [ngClass]="link.classes"
          >{{ link.title }}</a
        >
        <a
          *ngIf="!link.urlRouter"
          class="menu__item__link theme--menu-color"
          [href]="link.url"
          [target]="link.target"
          [ngClass]="link.classes"
          >{{ link.title }}</a
        >
      </li>
    </ul>
    <ng-content></ng-content>
  </div>
  <div class="col-3 col-lg-4">a</div>
</nav>
