// SIZES
$s-max-width: 1600px;
$s-sm: 768px; 	// 	Small devices
$s-md: 992px; 	// 	medium devices
$s-lg: 1200px;	// large devices
$s-xl: 1440px;	// extralarge devices

// SPACING
$gutter: 15px;

// ANIMATION
$transition-default: 0.3s ease-in-out;