@import "partials/partials";

#header {
  position: fixed;
  z-index: 10;
  @include media-breakpoint-down(md) {
    > .row {
      height: 40px;
    }
    .header__menu {
      position: fixed;
      top: 40px;
      left: 0;
      width: 80%;
      max-width: 320px;
      height: calc(100vh - 40px);
      @include media-breakpoint-down(lg) {
        transform: translateX(-100%);
        transition: transform $transition-default;
        &--toggled {
          transform: translateX(0%);
        }
        ::ng-deep {
          .menu {
            height: 100%;
          }
        }
      }
    }
  }
}
