.loading {
	display: flex;
    position: relative;
    align-items: center;
	justify-content: center;
	height: 100%;
	.loader {
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}