@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: local("Roboto"),
    font-files(
      "assets/fonts/Roboto/Roboto-Regular.woff",
      "assets/fonts/Roboto/Roboto-Regular.ttf",
      "assets/fonts/Roboto/Roboto-Regular.otf",
      "assets/fonts/Roboto/Roboto-Regular.svg"
    ),
    font-url("assets/fonts/Roboto/Roboto-Regular.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: local("Roboto Bold"),
    font-files(
      "assets/fonts/Roboto/Roboto-Bold.woff",
      "assets/fonts/Roboto/Roboto-Bold.ttf",
      "assets/fonts/Roboto/Roboto-Bold.otf",
      "assets/fonts/Roboto/Roboto-Bold.svg"
    ),
    font-url("assets/fonts/Roboto/Roboto-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: local("Roboto"),
    font-files(
      "assets/fonts/Roboto/Roboto-Light.woff",
      "assets/fonts/Roboto/Roboto-Light.ttf",
      "assets/fonts/Roboto/Roboto-Light.otf",
      "assets/fonts/Roboto/Roboto-Light.svg"
    ),
    font-url("assets/fonts/Roboto/Roboto-Light.eot");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: auto;
  src: local("Open Sans"),
    font-files(
      "assets/fonts/Open-sans/OpenSans-Regular.woff",
      "assets/fonts/Open-sans/OpenSans-Regular.ttf",
      "assets/fonts/Open-sans/OpenSans-Regular.otf",
      "assets/fonts/Open-sans/OpenSans-Regular.svg"
    ),
    font-url("assets/fonts/Open-sans/OpenSans-Regular.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: auto;
  src: local("Open Sans"),
    font-files(
      "assets/fonts/Open-sans/OpenSans-Light.woff",
      "assets/fonts/Open-sans/OpenSans-Light.ttf",
      "assets/fonts/Open-sans/OpenSans-Light.otf",
      "assets/fonts/Open-sans/OpenSans-Light.svg"
    ),
    font-url("assets/fonts/Open-sans/OpenSans-Light.eot");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: auto;
  src: local("Open Sans"),
    font-files(
      "assets/fonts/Open-sans/OpenSans-Bold.woff",
      "assets/fonts/Open-sans/OpenSans-Bold.ttf",
      "assets/fonts/Open-sans/OpenSans-Bold.otf",
      "assets/fonts/Open-sans/OpenSans-Bold.svg"
    ),
    font-url("assets/fonts/Open-sans/OpenSans-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
