// Created with
// https://icomoon.io

@font-face {
	font-family: "icomoon";
	font-display: auto;
	src: font-files(
		"assets/fonts/icomoon/icomoon.woff",
		"assets/fonts/icomoon/icomoon.ttf",
		"assets/fonts/icomoon/icomoon.otf",
		"assets/fonts/icomoon/icomoon.svg"),
		font-url("assets/fonts/icomoon/icomoon.eot");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-external-link:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eac9";
}
