<footer
  id="footer"
  class="theme--menu-bg theme--menu-color container-fluid pt-5 pb-2"
>
  <div class="row">
    <div class="col-12 col-lg-2 mb-3 d-flex justify-content-center">
      <app-logo [footer]="true"></app-logo>
    </div>
    <app-menu
      class="col-12 col-lg-10 mb-3 d-flex justify-content-space-between"
      location="footer-links"
      [showHome]="true"
    >
    </app-menu>
  </div>
  <div class="row">
    <app-socials
      *ngIf="showSocials"
      class="col-12 d-flex justify-content-center justify-content-lg-between"
    ></app-socials>
  </div>
  <div class="row">
    <p
      class="footer__info col-12 d-flex justify-content-center justify-content-lg-end"
    >
      <small
        *ngIf="wordpress.THEME.options.footer.disclaimer"
        class="disclaimer"
      >
        <span class="d-block mb-2">
          &copy;&nbsp;{{ year }}&nbsp;{{
            wordpress.translate("All rights reserved")
          }}.
        </span>
        <span class="d-block">
          {{ wordpress.THEME.options.footer.disclaimer }}
        </span>
      </small>
    </p>
    <p
      class="signature col-12 d-flex justify-content-center justify-content-lg-end"
    >
      <small class="d-flex align-items-center flex-column flex-lg-row">
        <span class="d-block mb-1 mb-lg-0"
          >{{ wordpress.translate("Developed by") }}:&nbsp;</span
        >
        <a href="//dihgg.com" target="_blank" class="d-block">
          <img
            src="{{ wordpress.THEME.TEMPLATE_URI }}/assets/img/dihgg.svg"
            alt="Dihgg"
          />
        </a>
      </small>
    </p>
  </div>
</footer>
