<div class="search container-fluid">
  <div class="row flex-md-row-reverse">
    <aside class="search__aside col-12 col-md-4">
      <div class="search__aside__content">
        <form name="search" (submit)="onSubmit()">
          <h2 class="mb-2">{{ wordpress.translate("You searched by") }}:</h2>
          <div class="d-flex align-items-center">
            <input
              type="text"
              name="s"
              class="mr-1"
              [placeholder]="wordpress.translate('Search')"
              [(ngModel)]="queryIn"
            />
            <button
              type="submit"
              title="{{ wordpress.translate('Search') }}"
              class="btn btn--transparent theme--menu-bg theme--menu-color p-1 d-flex align-items-center"
            >
              <span>{{ wordpress.translate('Search') }}&nbsp;</span>
              <i-feather name="search"></i-feather>
            </button>
          </div>
        </form>
      </div>
    </aside>
    <section id="search__content" class="col-12 col-md-8">
      <div class="row">
        <p>
          <ng-container *ngIf="total > 0">
            {{ wordpress.translate("Results Found") }}: {{ total }}
          </ng-container>
          <ng-container *ngIf="total === 0">
            {{ wordpress.translate("No results found") }}
          </ng-container>
        </p>
      </div>
      <div class="row">
        <ul *ngIf="total > 0" id="results">
          <li *ngFor="let post of posts" class="my-3">
            <app-post [post]="post" [options]="postOptions"></app-post>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col text-center mb-5">
          <button
            *ngIf="!loading && currentPage < pages"
            class="btn theme--menu-bg theme--menu-color py-3 px-5"
            (click)="loadMore()"
          >
            {{ wordpress.translate("Load More") }}
          </button>
          <app-loading [loading]="loading"></app-loading>
        </div>
      </div>
    </section>
  </div>
</div>
