<div class="search container-fluid">
  <div class="row flex-md-row-reverse">
    <aside class="search__aside col-12 col-md-4 mb-5">
      <div class="search__aside__content">
        <app-search-form
          [query]="query"
          (submitted)="onSubmit($event)"
        ></app-search-form>
        <section class="search__filters d-none d-sm-block my-3">
          <app-filter-cloud
            *ngIf="filters.length"
            [filters]="filters"
            (remove)="removeFilter($event)"
          ></app-filter-cloud>
          <app-cat-cloud
            class="d-block my-3"
            [title]="wordpress.translate('Categorias')"
            [items]="categories"
            (clicked)="addFilter($event)"
          ></app-cat-cloud>
          <app-cat-cloud
            class="d-block my-3"
            [title]="wordpress.translate('Tags')"
            [items]="tags"
            prepend="#"
            (clicked)="addFilter($event)"
          ></app-cat-cloud>
        </section>
      </div>
    </aside>
    <section id="search__content" class="col-12 col-md-8 mb-5">
      <div class="row" *ngIf="!loading">
        <p>
          <ng-container *ngIf="response.total > 0">
            {{ wordpress.translate("Results Found") }}: {{ response.total }}
          </ng-container>
          <ng-container *ngIf="response.total === 0">
            {{ wordpress.translate("No results found") }}
          </ng-container>
        </p>
      </div>
      <div class="row" *ngIf="posts.length">
        <ul id="results">
          <li *ngFor="let post of posts" class="my-3">
            <app-post [post]="post" [options]="postOptions"></app-post>
          </li>
        </ul>
      </div>
      <div *ngIf="!loading && hasLoadMore" class="row">
        <div class="col text-center">
          <button
            class="btn theme--menu-bg theme--menu-color py-3 px-5"
            (click)="loadMore()"
          >
            {{ wordpress.translate("Load More") }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-loading [loading]="loading"></app-loading>
        </div>
      </div>
    </section>
  </div>
</div>
