@import "partials/partials";

.search {
  &__aside {
    &__content {
      @include media-breakpoint-up(md) {
        position: sticky;
        top: 120px;
      }
    }
  }
}

form[name=search] {
  input {
    width: 100%;
    height: 100%;
  }
}
