<div class="search container-fluid">
  <div class="row flex-md-row-reverse">
    <aside class="search__aside col-12 col-md-4">
      <div class="search__aside__content">
        <form name="search" (submit)="onSubmit()">
          <h2>{{ wordpress.translate("You searched by") }}:</h2>
          <input
            type="text"
            name="s"
            [placeholder]="wordpress.translate('Search')"
            [(ngModel)]="queryIn"
          />
          <button
            type="submit"
            title="{{ wordpress.translate('Search') }}"
            class="btn btn--transparent"
          >
            <i-feather name="search"></i-feather>
          </button>
        </form>
        <p *ngIf="total > 0">
          {{ wordpress.translate("Results Found") }}: {{ total }}
        </p>
        <p *ngIf="total === 0">
          {{ wordpress.translate("No results found") }}
        </p>
      </div>
    </aside>
    <section id="search__content" class="col-12 col-md-8">
      <div id="results" *ngIf="total > 0">
        <ul>
          <li *ngFor="let post of posts" class="my-3">
            <app-post [post]="post" [options]="postOptions"></app-post>
          </li>
        </ul>
      </div>
      <p id="no-results" *ngIf="total === 0">
        {{ wordpress.translate("No results found") }}
      </p>
      <button
        *ngIf="!loading && currentPage < pages"
        class="btn"
        (click)="loadMore()"
      >
        {{ wordpress.translate("Load More") }}
      </button>
      <app-loading [loading]="loading"></app-loading>
    </section>
  </div>
</div>
