<ng-container *ngFor="let block of blocks">
  <ng-container *ngIf="block.name" [ngSwitch]="block.name">
    <app-youtube
      *ngSwitchCase="'core-embed/youtube'"
      [attrs]="block.attrs"
    ></app-youtube>
    <app-latest-posts
      *ngSwitchCase="'core/latest-posts'"
      [attrs]="block.attrs"
    ></app-latest-posts>
    <app-gallery
      *ngSwitchCase="'core/gallery'"
      [attrs]="block.attrs"
    ></app-gallery>
    <div *ngSwitchDefault class="block-content" [innerHTML]="block.html"></div>
  </ng-container>
</ng-container>
