@import '~normalize.css';
@import '~bootstrap/scss/bootstrap-grid';

@import "scss/partials/partials";
@import "scss/fonts";
@import "scss/icons";

body {
	position: relative;
}
#wpadminbar {
	@include bp(false, 601px) {
		position: absolute;
		top: -46px;
	}
}

ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}