@import '~normalize.css';
@import '~bootstrap/scss/bootstrap-grid';

@import "scss/partials/partials";
@import "scss/layout/typography";
@import "scss/layout/buttons";

body {
	position: relative;
}

#wpadminbar {
	@include bp(false, 601px) {
		position: absolute;
		top: -46px;
	}
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}